@import "../../../../assets/styles/variable";
.hideSidebar {
  .sidebar-container, .sidebar-container .el-menu {
    width: $hide-side-bar-width !important;
  }
  .main-container {
    padding-left: $hide-side-bar-width !important;
  }
}

.hideSidebar {
  .submenu-title-noDropdown {
    padding-left: 10px !important;
    position: relative;
    span:not(.axon-icon) {
      height: 0;
      width: 0;
      overflow: hidden;
      visibility: hidden;
      transition: opacity .3s cubic-bezier(.55, 0, .1, 1);
      opacity: 0;
      display: inline-block;
    }
    &:hover {
      span:not(.axon-icon) {
        display: block;
        border-radius: 3px;
        z-index: 1002;
        width: 140px;
        height: 56px;
        visibility: visible;
        position: absolute;
        right: -145px;
        text-align: left;
        text-indent: 20px;
        top: 0;
        opacity: 1;
      }
    }
  }
}

.hideSidebar {
  .submenu-title-noDropdown {
    padding-left: 10px !important;
    position: relative;
    span:not(.axon-icon) {
      height: 0;
      width: 0;
      overflow: hidden;
      visibility: hidden;
      transition: opacity .3s cubic-bezier(.55, 0, .1, 1);
      opacity: 0;
      display: inline-block;
    }
    &:hover {
      span:not(.axon-icon) {
        display: block;
        border-radius: 3px;
        z-index: 1002;
        width: 140px;
        height: 56px;
        visibility: visible;
        position: absolute;
        right: -145px;
        text-align: left;
        text-indent: 20px;
        top: 0;
        background-color: $bg-active-color !important;
        opacity: 1;
      }
    }
  }
  .el-submenu {
    & > .el-submenu__title {
      padding-left: 10px !important;
      & > span:not(.axon-icon) {
        display: none;
      }
      .el-submenu__icon-arrow {
        display: none;
      }
    }
    .nest-menu {
      .el-submenu__icon-arrow {
        display: block !important;
      }
      span:not(.axon-icon) {
        display: inline-block !important;
      }
    }
  }
}
