@import "./_font.scss";
@font-face {
  font-family: 'iconfont';  /* project id 293611 */
  src: url('//at.alicdn.com/t/font_293611_w3mxdaqo6t4vx6r.eot');
  src: url('//at.alicdn.com/t/font_293611_w3mxdaqo6t4vx6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_293611_w3mxdaqo6t4vx6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_293611_w3mxdaqo6t4vx6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_293611_w3mxdaqo6t4vx6r.svg#iconfont') format('svg');
}

.axon-icon {
  font-family: 'iconfont', serif;
  font-size: $font-size-xxxl;
  color: #333;
}

.axon-icon:before {
  content: attr(icon);
}
